<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/LineIcons.css" rel="stylesheet">
    <link href="/css/Other.css" rel="stylesheet">
    <title><%= title %> | <%= name %></title>
</head>

<body class="bg-gray-800">
    <div id="nav"><%- include('partials/navbar') %></div>
    <div id="app"><%- include(template) %></div>
    <div id="foo"><%- include('partials/footer') %></div>

    <div id="scr">
        <script src="/js/utils.js"></script>
    </div>
</body>

</html>